<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibase.alibaba.provider.dao.OrderDao">

	<select id="queryByTradeAndItem" resultType="com.ibase.alibaba.provider.entity.Order" parameterType="java.util.Map">
		select
		*
		from js_order
		where trade_id = #{tradeId}
        and item_id = #{itemId}
	</select>

</mapper>
